/tasks
/AdminLTE-3.1.0-rc
Dashboard/node_modules
Dashboard/public/hot
Dashboard/public/storage
Dashboard/storage/*.key
Dashboard/vendor
Dashboard/.env
Dashboard/.env.backup
Dashboard/.phpunit.result.cache
Dashboard/Homestead.json
Dashboard/Homestead.yaml
Dashboard/npm-debug.log
Dashboard/yarn-error.log
laravel-ui-auth/node_modules
laravel-ui-auth/public/hot
laravel-ui-auth/public/storage
laravel-ui-auth/storage/*.key
laravel-ui-auth/vendor
laravel-ui-auth/.env
laravel-ui-auth/.env.backup
laravel-ui-auth/.phpunit.result.cache
laravel-ui-auth/Homestead.json
laravel-ui-auth/Homestead.yaml
laravel-ui-auth/npm-debug.log
laravel-ui-auth/yarn-error.log


